html {
    scroll-behavior: smooth;
}

body {
    font-family: Lato;
    overflow-x: hidden;
}

/* @media screen and (min-width: 2800px) {
    #textnavitem {
        display: flex;
        flex-wrap: wrap;
        width: 120px;
    }
} */

#textnavitem {
    /* display: flex;
    flex-wrap: wrap;
    width: 120px; */
    margin-right: 40px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    text-align: center;

    color: #222222;
}

@media screen and (max-width: 768px) {
    #textnavitem {
        margin-right: 0px;
    }
}

#logo {
    width: 150px;
    /* margin-top: 17px; */
    /* margin-left: 39px; */
}

@media screen and (max-width: 768px) {
    #logo {
        width: 100px;
        /* margin-top: 17px; */
        /* margin-left: 39px; */
    }
}

.logoPemiraUI {
    float: left;
}

/* .tombolHome {
    margin-top: 42px;
    margin-left: 600px;
}
.tombolEvoting,.tombolKandidat,.tombolSignIn {
    margin-top: 42px;
    margin-left: 25.5px;
} */

.customButtonNavbar {
    background-color: #FFDB00;
    color: white;
}
/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 15px;
    height: 13px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: -1px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: white;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 5px;
}

.animated-icon1 span:nth-child(3) {
    top: 10px;
}

.animated-icon1.open span:nth-child(1) {
    top: 5px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    outline: none;
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    outline: none;
}

.animated-icon1.open span:nth-child(3) {
    top: 5px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    outline: none;
}
#navigationWord {
    color: #222222;
}

/* Pull up  */
li.nav-item div.kotak:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFDB00;
    opacity: 0.3;
    transition: all 0.3s;
}
div.kotak a
{
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* div.pullUp a:before
{
    position: absolute;
    border-radius: 15px;
    width: 100%;
    height: 0px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFDB00;
    opacity: 0.1;
    transition: all 0.3s;
} */

div.pullUp a:hover:before
{
    height: 100%;
    border-radius: 15px;
}

div.pullUpHome a:before
{
    position: absolute;
    border-radius: 15px;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFDB00;
    opacity: 1;
    transition: all 0.3s;
}

#selected {
    color: #FFDB00 !important;
}

div.pullUpHome a:hover:before
{
    height: 10%;
    border-radius: 15px;
    color: white !important;
}

#navigationWord:hover {
    border-radius: 15px;
    background-color: #FFDB00;
    color: white !important;
    transition: all 0.3s;
}

#navigationWordSignUp {
    border-radius: 15px;
    background: #FFDB00;
}

#navigationWordSignUp:hover {
    border-radius: 15px;
    color: white;
}

.footer {
    height: 93px;
    margin-top: 93px;
    background-color: #222222;
}

.tulisanCopyright {
    padding-left: 57px;
    height: 93px;
    font-family: Roboto;
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .tulisanCopyright {
        padding-left: 25px;
        height: 93px;
        font-family: Roboto;
        color: white;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 23px;
        align-items: center;
    }
}

/* #gambarProfile {
    width: 250px;
} */



#tambahPemilihan {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 37.381px;
    line-height: 45px;
}

@media screen and (max-width: 768px) {
    #tambahPemilihan {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
}

#gambarTambah:hover {
    transform: scale(0.8, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #gambarTambah {
        width: 45px;
    }
}

#Nama {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22.3232px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
}

#Jabatan {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 17.4306px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
    #gambarProfile {
        width: 100px;
    }

    #Nama {
        font-size: 19px;
        line-height: 20px;
    }

    #Jabatan {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 600px) {
    #gambarProfile {
        width: 80px;
    }
}

.card-vote {
    border: 3.54px solid #EE9F19;
    border-radius: 15px;
    margin: 3%;
    padding: 5%;
}

.card-vote .row .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoFakultas {
    width: 300px;
}

@media screen and (max-width: 1250px) {
    #logoFakultas {
        width: 200px;
    }
}

.card-vote .col-md h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 33px;
    color: #000000;
}

.card-vote .row .col-md {
    margin: 0px 2%;
}

.card-vote .row .col-md p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    #containerPemilihan {
        margin-top: 40px;
    }

    .card-vote {
        border: 3.54px solid #EE9F19;
        border-radius: 15px;
        margin: 3%;
        padding: 5%;
    }

    .card-vote .col-md h1 {
        margin-top: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }

    .card-vote .row .col-md p {
        text-align: center;
        font-size: 11px;
    }
}

/* .card-vote .row .col-md a.btn {
    display: flex;
    justify-content: center;
    background: #FFDB0D;
    color: white;
}

.card-vote .row .col-md a.btn:hover {
    background-color: #EE9F19;
    color: white;
} */

#btnDetail {
    display: flex;
    justify-content: center;
    color: black;
}

#btnDetail:hover {
    background-color: #FFDB00;
    color: white;
}

#btnSelesai {
    display: flex;
    justify-content: center;
    color: #9F9F9F;
}

#tombolDetail {
    margin-top: 20px;
}

.form {
    width: 75%;
    position: relative;
    height: 80px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: #000000;
    padding-top: 30px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid #EE9F19;
    color: rgba(34, 34, 34, 0.3);
    font-weight: bold;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 4px solid #EE9F19;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    font-size: 18px;
    bottom: 25px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
    /* transform: translateY(-30%); */
    /* font-size: 14px; */
    color: #EE9F19;
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
    transform: translateX(0%);
}

#bagianAtasModal {
    margin-bottom: 50px;
}

#bagianTengahModal {
    margin-bottom: 50px;
}

#bagianAkhirModal {
    margin-bottom: 50px;
}

#jdul {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 43.8398px;
    line-height: 53px;
    display: flex;
    align-items: center;
    text-align: center;
}

#logoSukses {
    width: 20px;
    /* margin-top: 17px; */
    /* margin-left: 39px; */
}

@media screen and (max-width: 768px) {
    #logoSukses {
        width: 20px;
        /* margin-top: 17px; */
        /* margin-left: 39px; */
    }
}

#jdul2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 27.2965px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
}

#textAwal {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 26.3373px;
    line-height: 32px;
}

#textAkhir {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 90px;
}

@media screen and (max-width: 768px) {
    #textAwal {
        margin-top: 60px !important;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
    }
    
    #textAkhir {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 50px;
    }

    #jdul {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 37px;
        line-height: 45px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    #jdul2 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
    }
}

.btn {
    background-color: #EE9F19;
    border: none;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    color: white;
}

.btn:hover {
    background: #FFDB0D;
}